/* ログイン画面のCSS */
.login-form{
    background-color: rgb(155, 155, 155);
    width: 300px;
    margin: 50px auto;
    padding: 100px;
  }
  
  .form-title{
    text-align: center;
    font-size: 30px;
  }
  
  .login-btn{
    display: block;
    background-color: #2db2ff;
    color: white;
    border-radius: 3px;
    height: 40px;
    width: 120px;
    margin: 0 0 0 auto;
  }
  
  .main input{
    height: 40px;
    width: 300px;
    border-radius: 2px;
    font-size: 20px;
    outline: none;
    margin-bottom: 20px;
  }
  