.react-calendar {
  border: 0.5px solid black;
}

abbr {
  display: block;
  text-align: center;
}

button {
  background-color: white;
  border: #333333 solid 1px;
}

.react-calendar__month-view__days__day--neighboringMonth {
  border: black solid 1px;
  /* background-color: ; */
}

.react-calendar__month-view__days__day--neighboringMonth abbr {
  color: rgb(158, 158, 158);
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  background-color: rgb(155, 227, 255);
  border: black 1px solid;
}

.react-calendar__month-view__weekdays :first-child {
  background-color: rgb(68, 68, 68);
  color: white;
}

.react-calendar__month-view__weekdays :nth-child(6) abbr {
  background-color: rgb(0, 17, 255);
}

.react-calendar__month-view__weekdays :nth-child(7) abbr {
  background-color: rgb(255, 0, 0);
}

.react-calendar__tile:nth-child(7n) {
  color: red;
}

/* .react-calendar .react-calendar__tile:nth-child(6){
  color: blue;
} */

/* モーダル部分のCSS */

.modal-back {
  /*　画面全体を覆う設定　*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6e6e6e;
}

.modal {
  position: relative;
  z-index: 2;
  width: 50%;
  background: #fff;
  border-radius: 10px;
  border: none;
}

.modal-top {
  padding: 10px;
}

.modal-top .add-plans {
  font-weight: 500;
  font-family: system-ui;

}

.modal-main {
  background-color: #dbf6ff;
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.add-plans {
  width: 100%;
  text-align: center;
  font-size: large;
}

.time-box {
  display: flex;
}

.time-box select {
  appearance: none;
  padding: 0 3px;
  margin: 0 1px;
  color: black;
}

.plans {
  display: flex;
}

.plans > button{
  margin-bottom: 3px;
}

.plans-time, .plans-content {
  margin-bottom: 5px;
  margin-top: 25px;
}

.plans button {
  border: rgb(0, 0, 0) 1px solid;
  background-color: rgb(120 120 120);
  color: white;
  font-size: 6px;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 30px;
  border: none;
  font-size: 40px;
  outline: none;
  background-color: transparent;
  color: #6e6e6e;
}

/* .plans-time{
  text-decoration: underline blue 10px solid;
  width: 70px;
} */

.submit-btn {
  background-color: rgb(113 180 255);
  border-radius: 10px;
  border: none;
  color: white;
  margin-left: 5px;
}